*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Play', sans-serif;
}

header {
  padding: 5rem 0;
  border-bottom: 1px solid #000000;
}

.header-logo {
  font-size: clamp(1rem, 2vw, 2.5vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  padding: 0 2rem;
}

#map {
  width: 80vw;
  height: 400px;
  padding: 4rem 0 2rem 0;
  cursor: grabbing;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 20rem 0;
}

.data-refresh-time {
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  text-align: center;
  padding: 5rem;
}

.card-heading {
  color: #000000;
  margin: 5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 1rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-size: 32px;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #c9c8c8;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #000000;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  font-size: 2.5rem;
  width: 75%;
  height: 150%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

.altitude {
  font-size: 3rem;
  padding-bottom: 5rem;
}

.satellite-icon {
  color: #000000;
  font-size: 5rem;
}

/* MEDIA QUERY MANAGER
/*
0-285px       Fold
0-600px:      Phone
600-900px:    Tablet: Portrait
900-1200px:   Tablet Landscape
[1200-1800px] Is where the normal styles apply
1800px + :    Big Desktop
*/

@media (max-width: 56.25em) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 50%;
  }

  .card-container:not(:first-of-type) {
    margin-top: 5rem;
  }
}

@media (max-width: 37.5em) {
  .card-container {
    width: 85%;
  }
}

@media (max-width: 17.8125em) {
  .card-container {
    width: 95%;
  }
}
